* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.reset {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.reset:hover {
  background-color: green;
  border-color: green;
  color: #fff;
}

.square {
  background-color: #fff;
  border: 1px solid black;
  width: 90px;
  height: 90px;
  margin: 0;
  font-size: 88px;
  font-weight: bold;
  line-height: 90px;
  text-align: center;
}

.board {
  border: 1px solid black;
}

.board-row {
  display: flex;
  justify-content: space-between;
}

.status {
  margin: 10px 0;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}